@import url(./variables.css);



.Card{
    display: inline-block;
}
    
.image{
    width: 200px;
}

.bar {
    background-color: var(--ac-gray-trans);
    padding: 1rem;
    display: inline-block;
    margin: 10px;
    
    max-width: 400px;
}

.content{
    text-justify: distribute;
    opacity: 1!important;
    font-size: 0.9rem;
}

.name{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--ac-red);
}