.col{
    display: inline-block;
    color: #ededed;
    vertical-align: middle;
}

.col1, .col2{
    vertical-align: middle;
    margin: auto 0;
}

.mid-head{
    font-size: 3em;
    font-weight: 500;
}

.top{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0% 5%;
    
    grid-column-gap: 2%;
}

.Footer .bottom{
    background-image: url(../assets/foot.svg);
    background-repeat: no-repeat;
    min-height: 550px;
    max-width: 70%;
    /* border: 3px solid red; */
    padding: 0;

}

 .Foot-container{
    background: #1c1d1f92;
}

.img{
    background-image: url(../assets/HBD.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 300px;
    margin: 1%;
   
}

@media only screen and (max-width: 800px){
    .Footer .bottom{
        min-height: 350px;
    }
    .top{
        display: block;
    }
    .col{
        display: block;
        width: 70%;
        text-align: center;
        margin: auto;
    }
    .img{
        min-width: 100px;
        min-height: 100px;
        margin-bottom: 5%;
    }
}
