.gallery{
    text-align: center;
    margin: auto;
    z-index: -1;
}

.gal-top{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    margin-top: 2%;
}

.gal-bottom{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2%;
    margin-top: 2%;
}

.gal-foot{
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 2%;
    margin-top: 2%;
}

.btn{
    text-align: center;
}

@media only screen and (max-width: 800px){
    .gal-top, .gal-bottom, .gal-foot{
        display: block;
        font-size: 10px;
        z-index: -1;

    }
}