@import url(./variables.css);


.page-title{
    float: left;
    vertical-align: middle;
    font-size: 1.1em;
    padding: 0.5rem;
}

.link-container {
    display: table-cell;
    padding: 0.5rem;
    width: 100%;
}

.link {
    text-decoration: none;
    transition: color 150ms ease-in;
    color: #4d4d4f;
    font-size: .875rem;
    display: inline-block;
    margin: 0 4%;
    font-weight: bolder;
    line-height: 15px;
}

.link:link, .link:visited {
    transition: color 150ms ease-in;
}

.link:hover {
    transition: color 150ms ease-in;
}

.link:active {
    transition: color 350ms ease-in;
}

.link:focus {
    transition: color 150ms ease-in;
    outline: 1px dotted currentColor;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity 150ms ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity 150ms ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity 150ms ease-out;
}

#services, #blog {
    margin-right: 1rem;
}

.nav-active{
    color : var(--ac-primary);
    border-bottom: 1px solid var(--ac-primary);
    
}

.nav{
    padding-left: 10px;
    text-align: right;
    display: table; 
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top:0;
    background: #000000;
    z-index: 999;
}
.gal-nav{
    z-index: 999;

    padding-left: 10px;
    text-align: right;
    display: table; 
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top:41px;
    background: #101010;
}

@media screen and (min-width: 30em) {
    .ph5-ns {
        padding-left: 1rem;
        padding-right: 4rem;
    }

    .mr4-ns {
        margin-right: 2rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px){
    .gal-nav{
        top: 24px;
    }

    .dim:hover, .link:hover, .link:focus, .dim:focus, 
    .dim:active, .link:active, .link:visited, .link:link, 
    .link, .dim {
        opacity: 1;
    }
}